
    ${deprecated}@Test
    public void should_map_null_with_${out.constant}() {
        ${out.name} value = ${instance}
                        .map((${in.type}) null);
        assertThat(${out.value}).isEqualTo(value);
    }
