
    ${deprecated}@Test
    public void test_mapper_${prefix}_null() {
        ${out.name} value = ${instance}
                        .map((${in.type}) null);
        assertThat(${out.value}).isEqualTo(value);
    }
