
    ${deprecated}@Test
    public void test_mapper_${prefix}_with_${in.constant}() {
        ${out.name} value = ${instance}
                        .map(${in.value});
        assertThat(value).isEqualTo(${out.value});
    }
