
    ${deprecated}@Test
    public void should_map_${in.constant}_with_${out.constant}() {
        ${out.name} value = ${instance}
                        .map(${in.value});
        assertThat(value).isEqualTo(${out.value});
    }
